.DS_Store
node_modules
/dist

# temp
stuff

# tests
/tests/e2e/videos/
/tests/e2e/screenshots/
test/fixture/savedData/**
cypress/screenshots/
cypress/videos/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
