$io-primary: #f0c755;
$io-red: #a7171a;
$io-grey: #f2f2f2;
$io-grey2: #c3c2c7;
$io-grey3: #e8e8f3;
$io-background: $io-grey;

.io-primary {
    color: $io-primary;
}
.io-red {
    color: $io-red;
}
.io-grey {
    color: $io-grey;
}
.io-grey2 {
    color: $io-grey2;
}
.io-grey3 {
    color: $io-grey3;
}
